@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-slate-950 text-slate-50 antialiased;
}

#root {
  @apply min-h-screen bg-gradient-to-b from-slate-950 via-slate-900 to-slate-950;
}

